.about{
    width: 100%;
  height: calc(125vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about h3{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
    font-size: 20px;
}

.heading{
  margin-top: 100px;
  color: #3e497a;
  font-size: 40px;
}
.pic img{
  height: 200px;
  width: 180px;
}

.info{
  margin-bottom: 100px;
}

@media only screen and (max-width: 400px) {
    
    .about h2{
      margin-top: 100px;
    }
    .pic img{
      height: 150px;
      width: 130px;
    }
  }