
.home {
  width: 100%;
  align-items: center;
  font-family: "Arial", sans-serif;
  /* color: #3e497a; */
}

hr{
  border-top: 5px dashed white;
}

.about-home {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: #21325e; */
  /* color: #f0f0f0; */
}

.about-home h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: #3e497a;
  height: 40px;
}

.about-home .prompt {
  width: 40%;
  font-size: 25px;
}
.prompt svg {
  font-size: 25px;
  margin: 10px;
}

.skills {

  font-size: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  font-size: 40px;
  color: #3e497a; 
}
.skills h2 {
  font-size: 25px;
  color: #3e497a; 
}

.skills .list {
  list-style: none;
  width: 60%;
}
.list span {
  font-size: 15px;
}
.list span svg {
  font-size: 30px;
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  .about-home h2 {
    font-size: 40px;
  }

  .about-home .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }

  .skills h2 {
    font-size: 30px;
  }
}

/* a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
} */

a:visited {
  color: #3e497a;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: royalblue;
  background-color: transparent;
  text-decoration: underline;
}


/* a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
} */

@media only screen and (max-width: 260px) {
  .about-home h2 {
    font-size: 30px;
  }
  .propmt p{
    margin-top: 0px;
  }

}
